.remove-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.delete_svg {
    margin-right: 5px;
}

.delete_svg svg {
    fill: #adb5bd;
}

.delete_svg svg:hover {
    fill: black;
}
